<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Converter temperature</h1>
    <%= form_tag '', class: 'form-query', method: :get do %>
        <div class="col-md-12 form-group">
          <%= label_tag "label", 'Please enter the temperature' %>
          <%= text_field_tag 'temperature', params[:temperature], class: 'form-control temperature-input', placeholder: 'Eg: 50' %>
        </div>
        <div class="col-md-12 form-group">
          <%= label_tag "label", 'Choose a converter type' %>
          <%= select_tag 'type_id', options_for_select([['From celsius to fahrenheit', "1"], ["From fahrenheit to celsius", "2"]], params[:type_id]), class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Convert', class: 'btn btn-primary', data: {disable_with: "Submitting, please wait..."} %>
        </div>
      <!-- </div> -->
    <% end %>
    <h2 class="sub-header">Results</h2>
    <div class="table-responsive">
      <% if @results.present? %>
        <pre><code><%= @results %></code><%= raw @display_icon %></pre>
      <% else %>
        Something went wrong. Please try again!
      <% end %>
    </div>

    <h2 class="sub-header">History</h2>
    <div class="table-responsive">
      <% if @histories.present? %>
        <% @histories.each do |history|%>
          <pre><code><%= raw history.content %></code></pre>
        <% end %>
      <% else %>
        Don't have any records.
      <% end %>
    </div>
  </div>
</div>