<!DOCTYPE html>
<html>
<head>
  <title>Shop2Market Convertor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/header'%>
  <div class="container-fluid">
    <% flash.each do |name, value| %>
      <% if value.is_a?(String) or value.is_a?(Array) %>
        <br>
        <div class="alert alert-<%= name == 'notice' ? "success" : "danger" %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, id: "flash_#{name}" do %>
            <%= [value].flatten.map { |v| strip_tags(v) }.join('<br>').html_safe %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
